*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media  only screen and (max-width: 600px)  {
    .underFooter{
        display: none;
    }
    .upperFooter{
        display: flex;
        justify-content: space-evenly;
    }
    .superNavX{
        display: block;
    }
}
